@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

 *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} 

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  background-image: url('/Users/leenusvalantine/Desktop/birthday/Copy\ of\ A\ whole\ new\ world\ with\ you.png');
  position: relative;
  background-size: cover;
  padding-top: 60px; /* Adjusted padding to avoid overlap with the heading */
}

#notes-header {
  text-align: center;
  font-size: 36px;
  color: #ffffff;
  margin: 0; /* Reset margin for the heading */
  padding: 20px;
  z-index: 1;
}

.notes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 1200px;
  margin: 80px auto 20px; /* Adjusted margin to avoid overlap with the heading */
}

.image-prop{
    width: 300px;
    height: 400px;
}

.flip-card {
    width: 300px;
    height: 400px;
    perspective: 1000px;
}
  
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 10px;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}
  
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}
  
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
}
  
.flip-card-front {
    background-color: #f1f1f1;
    overflow: hidden;
}
.flip-card-front img{
    max-height: 100%;
}
.flip-card-back {
    background-color: #d1d1d1;
    color: rgb(77, 53, 255);
    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.card-content {
    padding: 20px;
    text-align: center;
}
  
.card-content h2 {
    font-size: 24px;
    margin-bottom: 10px;
}
  
.card-content p {
    font-size: 16px;
    margin-bottom: 20px;
}
  
.btn {
    padding: 10px 20px;
    background-color: #f1f1f1;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
}
  
.btn:hover {
    background-color: #333;
    color: #f1f1f1;
}
  
.attribute{
    position: absolute;
    bottom: 10px;
}

.scrollable-content {
  max-height: 300px; /* Set your preferred max height */
  overflow-y: auto;
}

.notes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 1200px; /* Set your preferred max width */
  margin: 20px auto;
}

.flip-card {
  width: 300px;
  height: 400px;
  perspective: 1000px;
  margin: 10px; /* Adjust margin as needed */
}